* {
    padding: 0;
    margin: 0;
}

.homepage {
    background-image: url('https://www.hellomagazine.com/imagenes/healthandbeauty/makeup/2018070249886/little-mix-cosmetics-makeup-line/0-245-300/little-mix-t.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 850px;
    width: auto;
}

#title {
    margin-top: 100px;
    padding: 40px;
    color: purple;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}

.intro {
    text-align: center;
    padding-top: 50px;
    color: rgb(255, 255, 255);
    font-weight: 900;
    font-size: 20px;
    line-height: 2rem;

}
/* .wrapper {
    background: url(littlemix.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 1000px;
} */

.navbar {
    height: 80px;
    width: 100%;
    background: rgb(0, 0, 0, 0.4)
}

.logo {
    width: 100px;
    height: auto;
    padding: 20px 100px;
}

.navbar ul {
    float: right;
    margin-right: 30px;

}

.navbar ul li {
    list-style: none;
    margin: 0 10px;
    display: inline-block;
    line-height: 80px;
}

.navbar ul li a {
    text-decoration: none;
    color: purple;
    font-size: 20px;
    padding: 6px 13px;
}

.navbar ul li a.active,
.navbar ul li a :hover {
    background: blue;
    border-radius: 2px;
}
.center {
    margin: 50px;
}
.center .p {
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    font-family: sans-serif;
}




.blue {
    color: indigo;
}

.yellow {
    color: hotpink;

}

.purple {
    color: darkblue;
}

.green {
    color: darkmagenta;
}

.Nelson {
    width: 400px;
    border-radius: 250px;
    float: left;
    margin-left: 30px;
}

.Anne {
    width: 300px;
    border-radius: 500px;
    float: right;
}

.jade {
    width: 200px;
    border-radius: 20px;
    float: left;
    margin-right: 30px;
}

.perrie {
    width: 300px;
    border-radius: 10px;
    float: right;

}

.buttons button {
    height: 50px;
    width: 150px;
    font-size: 18px;
    font-weight: bold;
    color: #ffb3b3;
    background: red;
    border: 1px solid #cc0000;
    outline: darkred;
    border-radius: 25px;


}